.form__labelText {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    margin-right: 5px;
    color: black;
}

.form__field {
    border: 1px solid;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px;
    color: hsl(0, 0%, 30%);
}

.form__field:invalid {
    background-color: hsl(0, 7%, 84%);
}

.form__button {
    width: 100%;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;   
    padding: 10px;  
    border-radius: 5px;
    transition: 0.4s;
}

.form__button:hover {
    background-color: hsl(0, 0%, 40%);
    transform: scale(1.01);
}

.form__button:active {
    background-color: hsl(0, 0%, 50%);
}

.form__fieldset {
    border: 1px solid grey;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0px;
    box-shadow: 1px 2px 5px;
    color: grey;
}

.form__legend {
    background-color: hsl(0, 0%, 30%);
    color: white;
    border-radius: 5px;
    padding: 10px;
}